*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Setting CSS */

html{
  font-family: sans-serif;
  font-size: 62.5%;
}

body{
  position: relative;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

img{
  width: 100%;
  object-fit: cover;
}

svg{
  cursor: pointer;
}

textarea{
  font-family: sans-serif;
}

.btn{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  background-color: hsl(205, 89%, 70%);
  border: 1px solid hsl(205, 89%, 70%);
  cursor: pointer;
}

.container{
  width: 90% !important;
  height: auto;
  min-height: 90vh;
  margin: 8rem  auto 0!important;
  max-width: 90% !important;
}

.container h1{
  font-size: 3rem;
  text-transform: capitalize;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}


.form{
  background-color: #F2F2F2;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 50%;
  margin: 5rem auto;
  /* width: 90vw; */
}


.form-group{
  max-width: 800px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 1rem 0;
}


.form-group label{
  font-size: 1.8rem;
  font-weight: 500;
}

.form-group input, .form-group textarea{
  width: 100%;
  padding: 0.8rem;
  font-size: 1.8rem;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 0.4rem;
  resize: none;
}


.item{
  cursor: pointer;
  max-width: 500px;
  max-height: 500px;
  text-align: center;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: 0 0 1.5rem 0.5rem rgba(0,0,0,0.2);
}


.item img{
  width: 100%;
  max-height: 600px;
  height: 90%;
}

.item h5, .item h4{
  padding-top: 1rem;
  font-size: 1.4rem;
}

.checkout{
  width: 200px;
  margin: auto;
}



/* Not Found Page */

.not-found{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  padding: 4rem;
  text-align: center;
}

.not-found img{
  width: 600px;
}

.not-found button{
  margin-top: 4rem;
}





/* Navbar */

.nav{
  background-color: #F2F2F2;
  padding: 0.4rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  /* margin-bottom: 3rem; */
}

#logo{
  font-size: 3.5rem;
  display: inline-block;
}

nav{
  margin: auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > h5{
  font-size: 1.5rem;
  color: #000;
}


.navInput{
  background-color: #fff;
}

.search{
  padding: 0.1rem 0.5rem;
}

.navInput input{
  display: inline-block;
  width: 400px;
  border: none;
  outline: none;
  padding: 0.8rem;
  border-radius: 0.4rem;
}

.acc{
  display: inline-block;
  display: flex;
}

#login{
  margin-right: 1rem;
  padding: 0.4rem 2rem;
  font-size: 1.8rem;
} 

.cart-logo{
  font-size: 1.8rem;
}

/* Account Page */

.account{
  margin: auto;
  max-width: 60%;
  width: 90%;
  background-color: #F2F2F2;
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: 1fr 1fr; */
  padding: 4rem;
  grid-gap: 2rem;
}

.acc-left, .acc-right{
  background-color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 0.8rem;
  font-size: 2rem;
  max-width: 400px;
  cursor: pointer;
}


/* Login Page */

.login-form h2{
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: hsl(205, 89%, 70%);
}

.login-form h3{
  text-align: center;
  font-size: 1.3rem;
}

.fail{
  color: rgb(243, 45, 45);
}


/* Home Page */

.home{
  margin-top: 8rem;
}

/* Categories */

.categories{
  position: relative;
  display: grid;
  grid-template-columns: repeat(9,1fr);
  align-items: center;
  background-color: #F2F2F2;
  margin: 2rem 0;
}

.category, .other{
  text-align: center;
  height: 100%;
  padding: 0.8rem 0;
  font-size: 1.8rem;
  text-transform: capitalize;
  border: 0.1rem solid rgb(201, 201, 201);
}

.other{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8rem;
  cursor: pointer;
}

.all-category{
  z-index: 2;
  position: absolute;
  top: 4rem;
  right: 0;
  background-color: #F2F2F2;
  /* padding: 1rem; */
}

.all-category h4{
  padding: 1rem 3rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.all-category .category{
  max-width: 300px;
}


/* Featured Area */

.featureArea{
  padding: 4rem 0;
  width: 100%;
}

.featureGallery{
  box-shadow: 0 0 1.5rem 0.5rem rgba(0,0,0,0.2);
  padding: 2rem 0;
  border-radius: 0.8rem;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,minmax(200px ,1fr));
  gap: 2rem;
  overflow: hidden;
}

 .featureItem{
  max-width: 100% !important;
  box-shadow: none;
  border-radius: 0;
}

.featureItem img{
  height: 70%;
  object-fit: contain;
}
/* 
.featureItem h5{
  
}  */


/* Dashboard */

.dashboard{
  height: calc(100vh - 55px);
  margin-left: 0 !important;
  margin-right: 0 !important;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.adminLeft{
  background-color: #F2F2F2;
  padding: 2rem;
  text-align: center;
}

.adminLeft h1{
  font-size: 3rem;
}
.adminRight{
  padding: 2rem;
}

.product-list{
  padding: 2rem;
  margin-top: 2rem;
}

.product-list h1{
  margin-bottom: 2rem;
}

.product-item{
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 0.8rem;
}




/* User Detail Page */

.user-form h1{
  text-align: center;
  padding-bottom: 1rem;
  font-size: 3rem;
}

/* Products Page */

.products{
  padding: 1rem;
  margin-top: 4rem !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.products .item{
  padding: 2rem;
}

.products .item img{
  max-height: 400px;
  object-fit: cover;
}

/* Product Page */

.product{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem;
  margin-top: 4rem;
}

.product-left{
  padding: 2rem;
}

.product-right{
  padding: 0 2rem 2rem 2rem;
}

.product-right hr{
  width: 80%;
  margin-bottom: 2rem;
}

.product-right h2{
  margin-bottom: 1rem;
}
.product-right h3{
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.product-right h5{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.product-right p{
  font-size: 1.6rem;
  width: 70%;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}





/* Cart Page */

.cart{
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  background-color: #F2F2F2;
  padding: 2rem;
}

.cart > h3{
  margin-left: auto;
  font-size: 2rem;
}

.cart-item{
  display: grid;
  max-width: 800px;
  grid-template-columns: 1fr 2fr;
  box-shadow: none;
  border-bottom: 2px solid #aaa;
  margin: auto;
  border-radius: 0;
}

.cart-item img{
  height: 100%;
}

.item-details{
  text-align: left;
  padding: 2rem;
}

.cart-item h2{
  font-size: 2rem;
  margin-bottom: 2rem;
}
.cart-item h3{
  margin-bottom: 1rem;
  font-size: 2rem;
}

.cart-item select{
  margin-bottom: 1rem;
  width: 4rem;
  font-size: 2rem;
  padding: 0.4rem;
  border: none;
}


/* Footer */

.footer{
  width: 100%;
  background-color: #F2F2F2;
  padding: 2rem;
}

.footer-center{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.footer-center h4{
  font-size: 1.2rem;
}

.footer-center .social{
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100px;
}







/* Responsive Design */
